<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Dsipayname</th>
            <th>Passwordhash</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.displayName}}</td>
            <td>{{user.passwordHash}}</td>
        </tr>
        </tbody>
    </table>
</div>
